<div class="p-mt-3">
  <div *ngIf="group">
    <h2 class="p-text-bold">{{ group.name }}</h2>
    <p>{{ group.description }}</p>
  </div>

  <div *ngFor="let group of groupedExpenses" class="p-mb-4">
    <h4 class="p-text-bold p-mb-2">{{ group.month }} - Total : {{ group.total | currency: 'EUR' }}</h4>

    <p-table
      [value]="group.expenses"
      [responsiveLayout]="'scroll'"
      class="p-mb-3"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Description</th>
          <th>Montant</th>
          <th>Catégorie</th>
          <th>Récurrent</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-expense>
        <tr>
          <td>{{ expense.description }}</td>
          <td>{{ expense.amount | currency: 'EUR' }}</td>
          <td>{{ expense.category }}</td>
          <td>
            <i *ngIf="expense.recurring" class="pi pi-check" style="color: green"></i>
            <i *ngIf="!expense.recurring" class="pi pi-times" style="color: red"></i>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-text p-button-rounded"
              (click)="openExpenseModal(expense)"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-text p-button-rounded p-button-danger"
              (click)="deleteExpense(expense.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="p-mt-4">
  <button
    pButton
    label="Ajouter une dépense"
    icon="pi pi-plus"
    class="p-button-primary"
    (click)="openExpenseModal()"
  ></button>
</div>

<p-dialog
  header="{{ isEditing ? 'Modifier Dépense' : 'Créer Dépense' }}"
  [(visible)]="expenseModalVisible"
  [closable]="false"
  [modal]="true"
  [responsive]="true"
  [dismissableMask]="true"
  [style]="{ width: '400px' }"
>
  <app-expense-form
    [expense]="selectedExpense"
    (submitExpense)="saveExpense($event)"
    (cancel)="closeExpenseModal()"
  ></app-expense-form>
</p-dialog>
