.p-card {
    margin-bottom: 20px;
  }
  
  .p-mt-3 {
    margin-top: 20px;
  }
  
  .p-table td {
    vertical-align: middle;
  }
  
  p-table .pi {
    font-size: 1.2rem;
  }
  
.p-dialog {
  .p-dialog-header {
    font-size: 1.2rem;
  }
}
  