<img class="w-6" src="assets/sign.svg"/>
<div class="w-6 pr-6">
  <h2 class="mb-4">Connexion</h2>
  <form class="flex flex-column gap-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-column gap-1">
      <label for="email">Email</label>
      <input id="email" pInputText formControlName="email" />
    </div>
    <div class="flex flex-column gap-1">
      <label for="password">Mot de passe</label>
      <input id="password" type="password" pInputText formControlName="password" />
    </div>
    <button pButton label="Se connecter" icon="pi pi-check" [disabled]="!loginForm.valid"></button>
  </form>
</div>
