<div class="p-fluid p-grid p-justify-center">
  <div class="p-col-12 p-md-6">
    <h2>Inscription</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="email">Email</label>
        <input id="email" pInputText formControlName="email" />
      </div>
      <div class="p-field">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" pInputText formControlName="password" />
      </div>
      <div class="p-field">
        <label for="confirmPassword">Confirmation mot de passe</label>
        <input id="confirmPassword" type="password" pInputText formControlName="confirmPassword" />
      </div>
      <button pButton label="S'inscrire" icon="pi pi-check" [disabled]="!signUpForm.valid"></button>
    </form>
  </div>
</div>
